<server>
    listen: testhost:1896
    port: 9999
    host: localhost
    server_name: test_server
    limit_body_size: 100
    error_page: ./www/errors/
    allowed_methods: GET
    <location>
		location: /
        root: ./www/html/
        index: index.html
        redirect: https://google.de/
        autoindex: on
    </location>
</server>
