<socket>
	listen: localhost:9995
	<server>
	    server_name: planescape_get
	    error_page: www/error_pages/
	    limit_body_size: 100
	    allowed_methods: GET
	    <location>
			location: /
			index: planescape.html
	        root: www/HTML/
	        allowed_methods: GET
	        autoindex: on
	        cgi_path: www/HTML/cgi-bin/
	        cgi_ext: .py
	    </location>
	    <location>
			location: /pictures/
	        root: www/HTML/images/
	        allowed_methods: GET
	        autoindex: on
	        cgi_path: www/HTML/cgi-bin/
	        cgi_ext: .py
	    </location>
		<location>
			location: /42
	        redirect: https://www.42wolfsburg.de
	    </location>
		<location>
			location: /google
	        redirect: https://www.google.com
	    </location>
	</server>
</socket>
<socket>
	listen: localhost:9996
	<server>
	    server_name: planescape_cgi_post
	    error_page: www/error_pages/
	    limit_body_size: 100
	    allowed_methods: GET, POST
	    <location>
			location: /
	        root: www/HTML/
	        autoindex: on
	        cgi_path: www/HTML/cgi-bin/
	        cgi_ext: .py
	    </location>
	</server>
</socket>
<socket>
	listen: localhost:9997
	<server>
	    server_name: fileserver
	    error_page: www/error_pages/
	    limit_body_size: 100
	    allowed_methods: GET
	    <location>
			location: /
	        root: www/file/
	        allowed_methods: GET, POST
	        autoindex: off
	        cgi_path: www/HTML/cgi-bin/
	        cgi_ext: .py
	    </location>
	</server>
</socket>