<socket>
	listen: localhost:80
	<server>
	    server_name: www.example.com
	    error_page: www/error_pages/
	    limit_body_size: 100
	    allowed_methods: GET
	    <location>
			location: /
			index: planescape.html
	        root: www/HTML/
	        allowed_methods: GET, POST
	        autoindex: on
	        cgi_path: www/HTML/cgi-bin/
	        cgi_ext: .py
	    </location>
	</server>
	<server>
	    server_name: www.test.com
	    error_page: www/error_pages/
	    limit_body_size: 100
	    allowed_methods: GET
		<location>
			location: /
			index: mechanus.html
	        root: www/HTML/
	        allowed_methods: GET, POST
	        autoindex: on
	        cgi_path: www/HTML/cgi-bin/
	        cgi_ext: .py
	    </location>
	</server>
	<server>
	    server_name: www.test2.com
	    error_page: www/error_pages/
	    limit_body_size: 100
	    allowed_methods: GET
		<location>
			location: /redirect
	        redirect: https://google.com
	    </location>
	</server>
</socket>
<socket>
	listen: localhost:9996
	<server>
	    server_name: www.server1.com
	    error_page: www/error_pages/
	    limit_body_size: 100
	    allowed_methods: GET
	    <location>
			location: /
	        root: www/file/
	        allowed_methods: GET, POST
	        autoindex: on
	        cgi_path: www/HTML/cgi-bin/
	        cgi_ext: .py
	    </location>
	</server>
	<server>
	    server_name: www.server2.com
	    error_page: www/error_pages/
	    limit_body_size: 100
	    allowed_methods: GET
	    <location>
			location: /
	        root: www/HTML/
	        allowed_methods: GET, POST
	        autoindex: on
	        cgi_path: www/HTML/cgi-bin/
	        cgi_ext: .py
	    </location>
	</server>
</socket>