<server>
    listen: 127.0.0.1:9995
    server_name: www.example.com
    error_page: www/error_pages/
    limit_body_size: 100
    allowed_methods: GET
    <location>
		location: /
        root: www/HTML/
        allowed_methods: GET, POST
        autoindex: on
        cgi_path: www/HTML/cgi-bin/
        cgi_ext: .py
    </location>
    <location>
		location: /redirect
        redirect: https://google.com
    </location>
    <location>
		location: /42
        redirect: https://42wolfsburg.de/
    </location>
    <location>
		location: /Hello
        root: www/HTML/
        allowed_methods: POST, GET
        autoindex: on
        cgi_path: www/HTML/cgi-bin/
        cgi_ext: .py
    </location>
</server>
<server>
    listen: 0.0.0.0:9996
    server_name: Fileserver
    error_page: www/error_pages/
    limit_body_size: 1000000
    allowed_methods: GET
    <location>
		location: /
        root: www/file/
        allowed_methods: POST, GET
        autoindex: off
        cgi_path: www/HTML/cgi-bin/
        cgi_ext: .py
    </location>
</server>
<server>
    listen: 0.0.0.0:9997
    server_name: Siege_test
    error_page: www/error_pages/
    limit_body_size: 100
    allowed_methods: GET
    <location>
		location: /
        index: siege.txt
        root: HTML
        allowed_methods: POST, GET
        autoindex: on
        cgi_path: www/HTML/cgi-bin/
        cgi_ext: .py
    </location>
    <location>
		location: /Hello/
        root: www/HTML/
        index: test.html
        allowed_methods: POST, GET
        autoindex: on
        cgi_path: www/HTML/cgi-bin/
        cgi_ext: .py
    </location>
</server>
<server>
    listen: 0.0.0.0:9998
    server_name: delete
    error_page: www/error_pages/
    limit_body_size: 100
    allowed_methods: DELETE
    <location>
		location: /
        root: www/file/
        autoindex: on
    </location>
    <location>
		location: /Hello/
        root: www/HTML/
        index: test.html
        allowed_methods: POST, GET
        autoindex: on
        cgi_path: www/HTML/cgi-bin/
        cgi_ext: .py
    </location>
</server>