<server>
    listen: 0.0.0.0:9995
    server_name: HTML
    error_page: ./www/errors/
    limit_body_size: 100
    allowed_methods: GET
    <location>
		location: /
        root: ../HTML/
        redirect: https://google.de/
        allowed_methods: POST, GET
        autoindex: on
    </location>
    <location>
		location: /Hello/
        root: ../HTML/
        index: test.html
        redirect: https://google.de/
        allowed_methods: POST, GET
        autoindex: on
    </location>
</server>
<server>
    listen: 0.0.0.0:9996
    server_name: Fileserver
    error_page: ./www/errors/
    limit_body_size: 1000000
    allowed_methods: GET
    <location>
		location: /
        root: ../file/
        index:
        redirect: https://google.de/
        allowed_methods: POST, GET
        autoindex: off
    </location>
</server>
<server>
    listen: 0.0.0.0:9997
    server_name: DElete test
    error_page: ./www/errors/
    limit_body_size: 1000
    allowed_methods: DELETE
    <location>
		location: /
        root: ../file/
        index:
        redirect: https://google.de/
        allowed_methods: DELETE
        autoindex: off
    </location>
</server>